body{
	background-color:black;
	color:white;
}

#modal{
	position:absolute;
	top:200;
	left:300;
	height:200;
	width:400;
	border: solid 5px blue;
	display: none;
}

#ingredients{
	padding: 5px;
	width: 150px;
}
.ingredient img{
	position:relative;
	border: solid 5px orange;
	margin: 5px;
}
.ingredient img:hover{
	border: solid 5px lightblue;
}

#details {
	position:absolute;
	bottom: 0px;
	border: solid 2px gray;
	padding: 5px;
	margin: 5px;
	width: 100%;
}

.schematic {
	position:absolute;
	left: 180px;
	top: 0px;
	margin-left: auto;
    margin-right: auto;
	border: solid 2px gray;
	padding: 5px;
	margin: 5px;
	width: 400px;
	height: 500px;
}

.schematic button{
	display:inline;
	position:absolute;
	bottom: 0px;
}

.schematic-sword{
	background: white url('images/schematic_sword.png');
}
.schematic-shiv{
	background: white url('images/schematic_shiv.png');
}
.schematic-mace{
	background: white url('images/schematic_mace.png');
}
.schematic-club{
	background: white url('images/schematic_club.png');
}
.schematic-spear{
	background: white url('images/schematic_spear.png');
}

.slot {
	border: solid 2px gray;
	width: 100px;
	height: 100px;
	position: absolute;
	right:150px;
}

.slot-head {
	top: 70px;
}

.slot-shaft {
	top: 220px;	
}

.slot-blade {
	top: 70px;
}

.slot-guard {
	top: 220px;	
}

.slot-chain {
	top: 220px;	
}

.slot-grip {
	top: 370px;	
}