.ingredient {
    display: block;
    
    -webkit-transition: all 0.5s linear;
       -moz-transition: all 0.5s linear;
        -ms-transition: all 0.5s linear;
         -o-transition: all 0.5s linear;
            transition: all 0.5s linear;
}
.ingredient-free:hover{
	border: 1px solid blue;
}
.fullwidth{
	width:100%;
}
.center {
    margin: auto;
    width: 60%;
    padding: 10px;
}
.ingredient-used{
	opacity: 0.3;
}
.ingredient-free{

}

.schematic{
	background-size: 100% 100%;
	color: white;
	height: 526px;
	width: 376px;
}

.schematic-sword{
	background-image: url('../images/schematic_sword.png');
}
.schematic-shiv{
	background: white url('../images/schematic_shiv.png');
}
.schematic-mace{
	background: white url('../images/schematic_mace.png');
}
.schematic-club{
	background: white url('../images/schematic_club.png');
}
.schematic-spear{
	background: white url('../images/schematic_spear.png');
}

.slots {
	height: 500px;
}

.slot {
	color: grey;
	border-radius: 15px;
	border: solid 2px gray;
	width: 100px;
	height: 100px;
	position: relative;
	text-align: center;
	vertical-align: text-bottom;
}

.slot-taken {
	border-color: white;
	color: white;
}

.slot-head {
	top: 0%;
	margin: auto;
}

.slot-shaft {
	top: 20%;
	margin: auto;
}

.slot-blade {
	top: 20%;
	margin: auto;
}

.slot-guard {
	top: 30%;
	margin: auto;
}

.slot-chain {
	margin: auto;
}

.slot-grip {
	top: 35%;
	margin: auto;
}


html {
	position: relative;
	min-height: 100%;
}
body {
	/* Margin bottom by footer height */
	margin-bottom: 60px;
}
.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 60px;
	background-color: #f5f5f5;
}
.container {
	width: auto;
	max-width: 680px;
	padding: 0 15px;
}
.container .text-muted {
	margin: 20px 0;
}

.equal, .equal > div[class*='col-'] {  
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex:1 0 auto;
}
.quarter{
  width:50%;
  height:100%;
  float:left;
}
#bars {
	width:250px;
}
.bar {
	background: blue;
	border: solid;
}